<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Student Login</h1>
        <form action="/student_login" method="POST">
            <label>Email</label>
            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>
            <label>Password</label>
            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button type="submit">Login</button>

        </form>
        <p>
            Don't have an account?
            <a href="/">Register Here</a>
        </p>
    </div>
</body>
</html>