<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Student Registration</h1>
        <form action="/student_register" method="POST">
            <label>Student Name</label>

            <input
                type="text"
                name="name"
                placeholder="Enter Student Name"
                required>
            <label>Roll Number</label>
            <input
                type="text"
                name="roll_no"
                placeholder="Enter Roll Number"
                required>
            <label>Student ID</label>
            <input
                type="text"
                name="id"
                placeholder="Enter Student id"
                required>    
            <label>Email</label>
            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>
            <label>Password</label>
            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>
            <button type="submit">Register</button>
        </form>

        <p> Already Registered?
            <a href="/student_login">Login Here</a>
        </p>
    </div>
</body>
</html>